@import '../../variables.scss';

.contenedor{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    input,select{
        width:80vw;
    }
}
.cabecera{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2vmin;
    height: 15vh;
    background: black;
    color: white;
    img{
        height: 10vh;
        width: 10vh;
    }
}
.botonera{
    box-sizing: border-box;
    width: 90vw;
    height: 10vw;
    margin: 0vmin 2vmin;
    button{
        margin: 2vmin;
    }
}
.fila{
    width: 100%;
    height: 5vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        width:100%;
    }
}
.lista{
    width: 100%;
    height: 30vh;
    overflow: hidden;
    overflow-y: scroll;
}
.item{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}