@import '../../variables.scss';


.login{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: black;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2,p{
        margin: 0;
        padding: 2vmin;
        color: white;
    }
    input{
        margin: 2vmin;
        width: 15vw;
    }
}